body {
    background-color: blue;
}

#header {
background-color: yellow;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: black;

}
#list{
    border-width: 1px;
    border-style: solid;
    border-color: black;
    padding: 15px;
    margin-left: 35%;

}

img {
    border-radius: 50%;
    width: 75%;
    height: 100%;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    display: block;
    margin-left: 10%;
    margin-right: 10%;
}
#navlinks {
    position: fixed;
}
#footer {
    background-color:yellow;
    text-align: center;
    border-width: 1px;
    border-style: solid;
    border-color: black;
}